* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background-color: lightblue;
}

.navBar {
    display: inline;
    float: right;
    text-align: right;
    background-color: rgb(70, 70, 211);
    text-decoration: none;
    color: white;
    padding: 8px;
}

.navBarLinks {
    display: inline;
    text-decoration: none;
    color: white;
}

.title {
    height: 40px;
    width: 600px;
    background-color: black;
    text-align: center;
    color: white;
    margin: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navBar{
    height: 40px;
    display: inline;
    float: left;
    text-align: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: right;
    padding-left: 20px;
}

.navBar#homeNav {
    margin-top: -40px;
}

a {
    text-decoration: none;
    margin-right: 8px;
    color: white;
}

.roundImage {
    height: 400px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 8px 8px 8px 0px;
    border: solid white;
    border-width: 3px;
}

.ol{
    text-decoration: dashed;
}

h2,
p {
    margin-left: 3px;
    margin-top: 3px;
}

h1, h2 {
    font-weight: 700;
}

.mainText {
    background-color:rgb(47, 154, 154);
    color: rgb(34, 19, 34);
    height: 40px;
    width: 450px;
    padding: 10px;
    padding-right: 20px;
    margin-top: none;
    margin-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mainTextR {
    background-color:rgb(47, 154, 154);
    color: rgb(34, 19, 34);
    height: auto;
    width: 450px;
    padding: 10px;
    padding-right: 20px;
    margin-top: none;
    margin-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}